#Mac-OSx specific
.DS_Store	

# Ignore list for KiCad backup files and autosave files
*.*-bak
_autosave*

# Ignore List for Eagle PCB Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf
